@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#6741d9;
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    font-family: "Bree Serif", serif;
    /* font-family: "Bitter", serif; */
}

header h1 {
    text-align: center;
    color: #ffffff;
}


Main {
    font-family: "Bitter", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    /* font-family: "Bitter", serif; */
    max-width: 350px;
    background-color: #f1f1f1;
    max-height: 450px;
    margin:3rem 0;
    flex-grow: 1;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    border-radius: 1rem;
}

.container .search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
    
}

.container .search-section .input-group {
    width: 100%;
    height: 45px;
}

.container .search-section .input-group input {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #a39e9e;
}

.container .search-section .input-group input::placeholder {
    text-transform: capitalize;
}

.container .search-section .input-group span {
    position: absolute;
    top: 50%;
    pointer-events: none;
    left: 40px;
    transform: translateY(-50%);
}

.location-group span {
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.no-result  {
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

body.show-no-result .no-result {
    display: flex;
}
.no-result img {
    width: 8rem;
    height: 8rem;
}

.no-result .description {
    color: #363636;
}

body.show-no-result  .weather-section {
    visibility: hidden;
}

.weather-section .current-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather-section .current-weather img {
    width: 8rem;
    height: 8rem;
}

.weather-section .current-weather h4 {
    color: #a39e9e;
    font-size: 2rem;
}

.weather-section .current-weather .temprature {
    display: flex;
}

.weather-section .current-weather span {
    font-size: 1rem;
}

.weather-section .current-weather p {
    font-size: 1rem;
    color: #3d3b3b;
    margin: 0.5rem 0;
}

.weather-section .hourly-weather {
    padding: 1rem;
    color: #383636;
    text-align: center;
}

.weather-section .hourly-weather .weather-list {
    display: flex;
    margin-top: 1.5rem;
    list-style: none;
    overflow-x: hidden;
    }

.weather-section .hourly-weather:hover .weather-list {
    overflow-x: scroll;
    scrollbar-width: thin;
    pointer-events:visible;
    margin-bottom: -1rem;
}

.weather-section .hourly-weather .weather-list img {
    aspect-ratio:1;
    width: 3rem;
}

.weather-section .hourly-weather .weather-list {
 font-size: 0.8rem;
}



Footer {
    font-family: "Bitter", serif;;
    background-color: var(--primary-color);
    padding: 0.9rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

Footer p {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}